.home {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .home .overlap-group-wrapper {
    background-color: #ffffff;
    width: 100%;
    height: 1024px;
  }
  
  .home .overlap-group {
    position: relative;
    height: 1024px;
    background-image: url(../images/bg-medical-1.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .home .overlap {
    position: absolute;
    width: 100%;
    height: 143px;
    top: 0;
    left: 0;
    background-color: #61c1eb;
  }
  
  .home .div {
    position: absolute;
    width: 249px;
    height: 45px;
    top: 70px;
    left: 1166px;
  }
  
  .home .LOGIN {
    position: absolute;
    width: 86px;
    top: 0;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .text-wrapper {
    text-decoration: underline;
  }
  
  .home .span {
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 0;
  }
  
  .home .text-wrapper-2 {
    width: 149px;
    top: 0;
    left: 100px;
    text-decoration: underline;
    position: absolute;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .text-wrapper-3 {
    position: absolute;
    width: 40px;
    top: 0;
    left: 85px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .logotrial-removebg {
    position: absolute;
    width: 159px;
    height: 140px;
    top: 3px;
    left: 0;
    object-fit: cover;
  }
  
  .home .text-wrapper-4 {
    position: absolute;
    width: 320px;
    top: 48px;
    left: 552px;
    font-family: "Lilita One", Helvetica;
    font-weight: 400;
    color: #07547f;
    font-size: 60px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .overlap-2 {
    position: absolute;
    width: 476px;
    height: 405px;
    top: 604px;
    left: 30px;
  }
  
  .home .rectangle {
    width: 432px;
    height: 192px;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
  }
  
  .home .text-wrapper-5 {
    position: absolute;
    width: 399px;
    top: 79px;
    left: 77px;
    -webkit-text-stroke: 1px #1d8bcd80;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #eff9ff;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .img {
    width: 181px;
    height: 177px;
    top: 228px;
    left: 0;
    position: absolute;
    object-fit: cover;
  }
  
  .home .image {
    width: 210px;
    top: 228px;
    left: 222px;
    position: absolute;
    height: 177px;
    object-fit: cover;
  }
  .home .medical-didirikan {
    position: absolute;
    width: 1249px;
    top: 381px;
    left: 114px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  .home .div-wrapper {
    position: absolute;
    width: 432px;
    height: 192px;
    top: 604px;
    left: 507px;
    background-image: url(../images/rectangle-6.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .home .text-wrapper-6 {
    position: absolute;
    width: 387px;
    top: 79px;
    left: 38px;
    -webkit-text-stroke: 1px #1d8bcd;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #eff9ff;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .overlap-3 {
    position: absolute;
    width: 432px;
    height: 198px;
    top: 604px;
    left: 992px;
  }
  
  .home .text-wrapper-7 {
    position: absolute;
    width: 382px;
    top: 84px;
    left: 24px;
    -webkit-text-stroke: 1px #1d8bcd;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #f3f7f9;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .text-wrapper-8 {
    width: 96px;
    top: 158px;
    left: 32px;
    position: absolute;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .text-wrapper-9 {
    position: absolute;
    width: 150px;
    top: 158px;
    left: 149px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .text-wrapper-10 {
    position: absolute;
    width: 150px;
    top: 158px;
    left: 322px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .overlap-4 {
    position: absolute;
    width: 175px;
    height: 41px;
    top: 158px;
    left: 484px;
  }
  
  .home .text-wrapper-11 {
    position: absolute;
    width: 175px;
    top: 0;
    left: 0;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .line {
    top: 10px;
    left: 159px;
    position: absolute;
    width: 14px;
    height: 15px;
    object-fit: cover;
  }
  
  .home .line-2 {
    top: 9px;
    left: 146px;
    position: absolute;
    width: 14px;
    height: 15px;
    object-fit: cover;
  }
  
  .home .overlap-5 {
    position: absolute;
    width: 1390px;
    height: 352px;
    top: 216px;
    left: 25px;
  }
  
  .home .rectangle-2 {
    width: 1385px;
    height: 352px;
    top: 0;
    left: 5px;
    position: absolute;
    object-fit: cover;
  }
  
  .home .img-2 {
    width: 92px;
    left: 1297px;
    position: absolute;
    height: 103px;
    top: 125px;
    object-fit: cover;
  }
  
  .home .img-3 {
    width: 103px;
    left: 0;
    position: absolute;
    height: 103px;
    top: 125px;
    object-fit: cover;
  }
  
  .home .image-2 {
    width: 195px;
    top: 832px;
    left: 507px;
    position: absolute;
    height: 177px;
    object-fit: cover;
  }
  
  .home .image-3 {
    width: 198px;
    top: 832px;
    left: 747px;
    position: absolute;
    height: 177px;
    object-fit: cover;
  }
  
  .home .image-4 {
    width: 190px;
    top: 832px;
    left: 982px;
    position: absolute;
    height: 177px;
    object-fit: cover;
  }
  
  .home .image-5 {
    width: 201px;
    top: 832px;
    left: 1198px;
    position: absolute;
    height: 177px;
    object-fit: cover;
  }
  